@import "tailwindcss";

@theme {
  /* Al Barid Bank Official Brand Colors */
  --color-abb-yellow: #DCA819;
  --color-abb-dark: #4A4543;
  --color-abb-light: #F8F9FA;
}

/* Optional: Add a smooth global font and background */
@layer base {
  body {
    @apply bg-abb-light text-gray-800 antialiased;
  }
}